.callbackForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-start;
    min-width: 300px;
    max-width: 400px;
    padding: 40px;
    background-color: #0000004a;
    border-radius: 10px;
    z-index: 1;
    height: 400px;
}
.formInput {
    background-color: #0000004a;
    border: none;
    outline: none;
    color: white;
    height: 20px;
    border-radius: 5px;

}
.formInputNone {
    display: none;
}
.buttonInput {
    color: #ffffff;
    background-color: #022140;;
    padding: 10px;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    transition: .2s;
}
.buttonInput:hover {
    cursor: pointer;
    transform: translateY(-2px);
}
    